<section class="spacer-100">
  <div class="footer-wrapper">
    <div class="personal">
      <img src="../../assets/img/header/ct-logo.png" />
      <span>© Can Tükücü 2023</span>
    </div>
    <div class="social">
      <div>
        <div>
          <img src="../../assets/img/header/github.png" />
        </div>
        <div>
          <img src="../../assets/img/header/e-mail.png" />
        </div>
        <div>
          <img src="../../assets/img/header/linkedin.png" />
        </div>
      </div>
      <span>Legal Notice</span>
    </div>
  </div>
</section>
