.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 620px;
}

.about-profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.5019607843);
    max-height: 500px;
    max-width: 500px;
    min-width: 350px;
    min-height: 350px;
  }
  &:hover .border {
    opacity: 1;
  }
}

.border {
  position: absolute;
  bottom: -25px;
  left: 25px;
  border: 4px solid #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-height: 530px;
  max-width: 530px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.about-sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 50px;
  .text-wrapper {
    width: 100%;
    p {
      font-family: "Overpass";
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      margin: 0;
      width: 90%;
    }
  }

  
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }
}

.arrow {
  display: block;
  position: relative;
  width: 200px;
  height: 4px;
  background: var(--black);
  transform: rotate(135deg);
}

.arrow::before,
.arrow::after {
  width: 65px;
  height: 4px;
  background: var(--black);
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  left: 0;
}

.arrow::before {
  transform: rotate(45deg);
  bottom: 24px;
  left: 143px;
}

.arrow::after {
  transform: rotate(135deg);
  top: 24px;
  left: 143px;
}
