<section class="container-wrapper spacer-100">
  <div class="about-container">
    <div class="about">
      <div class="about-sub-wrapper">
        <h2>About me</h2>
        <div class="text-wrapper">
          <p>
            Hi there! I'm a Junior Frontend Developer with a passion for
            creating beautiful, user-friendly websites and web applications.
            With a strong foundation in HTML, CSS, and JavaScript, I have the
            skills and drive to bring designs to life and make them function
            smoothly. I'm constantly learning and seeking new challenges to
            further improve my skills and stay up-to-date with the latest
            frontend technologies. I'm a fast learner, a team player, and have a
            strong attention to detail. I'm eager to bring my skills to your
            organization and contribute to building amazing digital experiences
            for users.
            <br><br>
            I am excited to be a part of your team and help bring your visions to life.
          </p>
        </div>

        <button href="#">Let's talk</button>
      </div>
    </div>

    <div class="about-profile-picture">
      <img src="../../assets/img/header/ct-logo.png" />
    </div>
  </div>

  <div class="arrow-container">
    <div>
      <span class="arrow"></span>
    </div>
  </div>
</section>
