<section>
  <div class="contact-container">
    <div class="arrow-container">
      <div data-aos="fade-down-left">
        <span class="arrow"></span>
      </div>
    </div>

    <div class="contact-header">
      <span class="say-hi spacer-100">Say Hi!</span>

      <div class="text-wrapper">
        <span class="contact-header-title">Want to discuss a new project?</span>
        <span class="contact-header-text"
          >Say hello! lets discuss your ideas and make it happen!</span
        >
      </div>
    </div>
    <app-contact-form></app-contact-form>
  </div>
</section>
