<section class="spacer-100">
  <div class="skills-container">
    <h2 class="position-top">My skills</h2>
    <div class="skills">
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-angular.png" />
        <span>Angular</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-ts.png" />
        <span>TypeScript</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-js.png" />
        <span>JavaScript</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-html.png" />
        <span>HTML 5</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-css.png" />
        <span>CSS3</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-firebase.png" />
        <span>Firebase</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-git.png" />
        <span>Git</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-scrum.png" />
        <span>Scrum</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-api.png" />
        <span>Rest-API</span>
      </div>
      <div class="icon-group">
        <img src="../../assets/img/skills/skill-ta.png" />
        <span>Material Design</span>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <div data-aos="fade-down-right">
      <span class="arrow"></span>
    </div>
  </div>
</section>
