<section class="spacer-100">
  <div class="portfolio-container">
    <h2>Portfolio</h2>
    <span class="sub-text">
      This page is a sample of my work - please feel free <br />
      to try them out.
    </span>

    <div
      data-aos-duration="700"
      data-aos-easing="ease-in-out-back"
      data-aos-anchor-placement="center-bottom"
      data-aos="flip-down"
      class="project-container"
    >
      <!-- first project -->
      <div class="project">
        <div class="content">
          <img src="assets/img/portfolio/Join.png" />

          <div class="border-arrow">
            <img src="assets/img/portfolio/arrow-round-black.png" />
          </div>
        </div>

        <div class="content-info">
          <span class="content-header">Join</span>
          <span class="content-detail">JavaScript | HTML | CSS</span>
          <span class="content-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            delectus cupiditate ea dolores laudantium! Aliquam debitis sapiente
          </span>
          <div class="btn-container">
            <button class="main-button">GitHub</button>
            <button class="secondary-button">Live</button>
          </div>
        </div>
      </div>
      <p>01/05</p>
    </div>

    <div
      data-aos-duration="700"
      data-aos-easing="ease-in-out-back"
      data-aos-anchor-placement="center-bottom"
      data-aos="flip-down"
      class="project-container"
    >
      <!-- second project -->
      <div class="project reverse">
        <div class="content">
          <img src="assets/img/portfolio/Join.png" />

          <div class="border-arrow negate-margin">
            <img
              class="position-left negate-rot"
              src="assets/img/portfolio/arrow-round-black.png"
            />
          </div>
        </div>

        <div class="content-info animate-from-right">
          <span class="content-header">Join</span>
          <span class="content-detail">JavaScript | HTML | CSS</span>
          <span class="content-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            delectus cupiditate ea dolores laudantium! Aliquam debitis sapiente
          </span>
          <div>
            <button class="main-button">GitHub</button>
            <button class="secondary-button">Live</button>
          </div>
        </div>
      </div>
      <p class="left">02/05</p>
    </div>

    <div
      data-aos-duration="700"
      data-aos-easing="ease-in-out-back"
      data-aos-anchor-placement="center-bottom"
      data-aos="flip-down"
      class="project-container"
    >
      <!-- third project -->
      <div class="project">
        <div class="content">
          <img src="assets/img/portfolio/Join.png" />

          <div class="border-arrow">
            <img src="assets/img/portfolio/arrow-round-black.png" />
          </div>
        </div>

        <div class="content-info">
          <span class="content-header">Join</span>
          <span class="content-detail">JavaScript | HTML | CSS</span>
          <span class="content-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            delectus cupiditate ea dolores laudantium! Aliquam debitis sapiente
          </span>
          <div>
            <button class="main-button">GitHub</button>
            <button class="secondary-button">Live</button>
          </div>
        </div>
      </div>
      <p>03/05</p>
    </div>

    <div
      data-aos-duration="700"
      data-aos-easing="ease-in-out-back"
      data-aos-anchor-placement="center-bottom"
      data-aos="flip-down"
      class="project-container"
    >
      <!-- fourth project -->
      <div class="project reverse">
        <div class="content">
          <img src="assets/img/portfolio/Join.png" />

          <div class="border-arrow negate-margin">
            <img
              class="position-left negate-rot"
              src="assets/img/portfolio/arrow-round-black.png"
            />
          </div>
        </div>

        <div class="content-info animate-from-right">
          <span class="content-header">Join</span>
          <span class="content-detail">JavaScript | HTML | CSS</span>
          <span class="content-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            delectus cupiditate ea dolores laudantium! Aliquam debitis sapiente
          </span>
          <div>
            <button class="main-button">GitHub</button>
            <button class="secondary-button">Live</button>
          </div>
        </div>
      </div>
      <p class="left">04/05</p>
    </div>

    <div
      data-aos-duration="700"
      data-aos-easing="ease-in-out-back"
      data-aos-anchor-placement="center-bottom"
      data-aos="flip-down"
      class="project-container"
    >
      <!-- fifth project -->
      <div class="project">
        <div class="content">
          <img src="assets/img/portfolio/Join.png" />

          <div class="border-arrow">
            <img src="assets/img/portfolio/arrow-round-black.png" />
          </div>
        </div>

        <div class="content-info">
          <span class="content-header">Join</span>
          <span class="content-detail">JavaScript | HTML | CSS</span>
          <span class="content-text"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            delectus cupiditate ea dolores laudantium! Aliquam debitis sapiente
          </span>
          <div>
            <button class="main-button">Github</button>
            <button class="secondary-button">Live</button>
          </div>
        </div>
      </div>
      <p>05/05</p>
    </div>
  </div>
  
</section>
