* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
}

:root {
  --white: #ffffff;
  --cream: #fffcf3;
  --black: #000000;
  --orange: #ff9900;
}


// **** UTILITY **** //

.spacer-100 {
  padding: 0px 100px;
}

h2 {
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  margin: 0;
  transition: all 125ms ease-in;
  &:hover {
    color: var(--orange);
  }
}


// **** FONTS **** //

/* syne-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/syne-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/syne-v15-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/syne-v15-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/syne-v15-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/syne-v15-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/syne-v15-latin-700.svg#Syne")
      format("svg"); /* Legacy iOS */
}


/* syne-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/syne-v15-latin-800.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/syne-v15-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/syne-v15-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./assets/fonts/syne-v15-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("./assets/fonts/syne-v15-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./assets/fonts/syne-v15-latin-800.svg#Syne")
      format("svg"); /* Legacy iOS */
}


/* overpass-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/overpass-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/overpass-v12-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/overpass-v12-latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/overpass-v12-latin-300.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/overpass-v12-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/overpass-v12-latin-300.svg#Overpass") format("svg"); /* Legacy iOS */
}


/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/overpass-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/overpass-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/overpass-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/overpass-v12-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/overpass-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/overpass-v12-latin-regular.svg#Overpass")
      format("svg"); /* Legacy iOS */
}


/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/overpass-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/overpass-v12-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/fonts/overpass-v12-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/fonts/overpass-v12-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("./assets/fonts/overpass-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/fonts/overpass-v12-latin-700.svg#Overpass") format("svg"); /* Legacy iOS */
}
